In [1]:
import scanpy as sc

In [2]:
adata = sc.read_h5ad('HCC_Updated.h5ad')
print(adata)

AnnData object with n_obs × n_vars = 73589 × 19852
    obs: 'n_genes', 'percent_mito', 'n_counts', 'louvain', 'patient_id', 'patient_tumorsection', 'NormalvsTumor', 'patientno', 'PNC', 'PIC', 'ViralvsNonViral', 'louvain_merge', 'Cell Type'
    var: 'gene_ids', 'n_cells', 'gene_name'
    uns: 'NormalvsTumor_colors', 'PNC_colors', 'ViralvsNonViral_colors', 'louvain', 'louvain_colors', 'neighbors', 'patientno_colors', 'pca', 'rank_genes_groups'
    obsm: 'X_pca', 'X_umap'
    obsp: 'connectivities', 'distances'

c:\Users\Public\anaconda3\envs\scgpt\lib\site-packages\anndata\_core\anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [3]:
print(adata.X)

  (0, 19840)	1.0986123
  (0, 19837)	0.6931472
  (0, 19835)	1.0986123
  (0, 19834)	1.9459101
  (0, 19831)	0.6931472
  (0, 19830)	2.0794415
  (0, 19829)	1.3862944
  (0, 19828)	0.6931472
  (0, 19796)	0.6931472
  (0, 19771)	0.6931472
  (0, 19730)	0.6931472
  (0, 19712)	0.6931472
  (0, 19609)	0.6931472
  (0, 19505)	0.6931472
  (0, 19496)	0.6931472
  (0, 19455)	1.0986123
  (0, 19430)	0.6931472
  (0, 19425)	1.3862944
  (0, 19416)	0.6931472
  (0, 19384)	0.6931472
  (0, 19378)	1.0986123
  (0, 19292)	0.6931472
  (0, 19281)	1.0986123
  (0, 19207)	0.6931472
  (0, 19128)	0.6931472
  :	:
  (73588, 864)	0.6931472
  (73588, 845)	0.6931472
  (73588, 800)	0.6931472
  (73588, 721)	0.6931472
  (73588, 688)	0.6931472
  (73588, 665)	1.0986123
  (73588, 635)	0.6931472
  (73588, 620)	1.0986123
  (73588, 533)	0.6931472
  (73588, 500)	0.6931472
  (73588, 403)	0.6931472
  (73588, 392)	0.6931472
  (73588, 365)	0.6931472
  (73588, 359)	0.6931472
  (73588, 322)	0.6931472
  (73588, 318)	0.6931472
  (73588, 312)	1.3862944
  (73588, 291)	0.6931472
  (73588, 279)	0.6931472
  (73588, 269)	0.6931472
  (73588, 127)	0.6931472
  (73588, 103)	0.6931472
  (73588, 73)	0.6931472
  (73588, 38)	0.6931472
  (73588, 36)	0.6931472

In [4]:
adata.raw

In [5]:
print(adata.raw)

None

In [6]:
print(adata.obs)

       n_genes  percent_mito  n_counts louvain  patient_id  \
0          502      0.021596    1065.0       4           1
1          414      0.021692     922.0       0           1
2         1276      0.033444    3319.0       9           1
3          788      0.018448    1843.0       4           1
4          591      0.047297    1332.0       0           1
...        ...           ...       ...     ...         ...
73584     2200      0.032277    6940.0       7          58
73585      429      0.004082     735.0       7          58
73586      478      0.000000    1037.0       7          58
73587      896      0.004337    2767.0       7          58
73588      508      0.000000     946.0       7          58

      patient_tumorsection NormalvsTumor patientno PNC PIC ViralvsNonViral  \
0                     P1_N             N        P1   N   N        Positive
1                     P1_N             N        P1   N   N        Positive
2                     P1_N             N        P1   N   N        Positive
3                     P1_N             N        P1   N   N        Positive
4                     P1_N             N        P1   N   N        Positive
...                    ...           ...       ...  ..  ..             ...
73584             P15_T4T5             T       P15   P   P        Negative
73585             P15_T4T5             T       P15   P   P        Negative
73586             P15_T4T5             T       P15   P   P        Negative
73587             P15_T4T5             T       P15   P   P        Negative
73588             P15_T4T5             T       P15   P   P        Negative

       louvain_merge    Cell Type
0                  4   CD8+ Cells
1                  0   CD4+ Cells
2                  9     Nk Cells
3                  4   CD8+ Cells
4                  0   CD4+ Cells
...              ...          ...
73584              7  Hepatocytes
73585              7  Hepatocytes
73586              7  Hepatocytes
73587              7  Hepatocytes
73588              7  Hepatocytes

[73589 rows x 13 columns]

In [7]:
adata.obs.head()

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge,Cell Type
0,502,0.021596,1065.0,4,1,P1_N,N,P1,N,N,Positive,4,CD8+ Cells
1,414,0.021692,922.0,0,1,P1_N,N,P1,N,N,Positive,0,CD4+ Cells
2,1276,0.033444,3319.0,9,1,P1_N,N,P1,N,N,Positive,9,Nk Cells
3,788,0.018448,1843.0,4,1,P1_N,N,P1,N,N,Positive,4,CD8+ Cells
4,591,0.047297,1332.0,0,1,P1_N,N,P1,N,N,Positive,0,CD4+ Cells

In [8]:
adata.obs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73589 entries, 0 to 73588
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   n_genes               73589 non-null  int32
 1   percent_mito          73589 non-null  float32
 2   n_counts              73589 non-null  float32
 3   louvain               73589 non-null  category
 4   patient_id            73589 non-null  int64
 5   patient_tumorsection  73589 non-null  category
 6   NormalvsTumor         73589 non-null  category
 7   patientno             73589 non-null  category
 8   PNC                   73589 non-null  category
 9   PIC                   73589 non-null  category
 10  ViralvsNonViral       73589 non-null  category
 11  louvain_merge         73589 non-null  int32
 12  Cell Type             73589 non-null  category
dtypes: category(8), float32(2), int32(2), int64(1)
memory usage: 4.8+ MB

In [9]:
adata.obs['louvain'].unique()

['4', '0', '9', '1', '8', ..., '11', '23', '14', '16', '25']
Length: 29
Categories (29, object): ['0', '1', '2', '3', ..., '25', '26', '27', '28']

In [10]:
adata.obs.columns

Index(['n_genes', 'percent_mito', 'n_counts', 'louvain', 'patient_id',
       'patient_tumorsection', 'NormalvsTumor', 'patientno', 'PNC', 'PIC',
       'ViralvsNonViral', 'louvain_merge', 'Cell Type'],
      dtype='object')

In [11]:
adata.obs.__len__()

73589

In [12]:
import pandas as pd

In [13]:
adata.obs['Cell Type'].unique()

['CD8+ Cells', 'CD4+ Cells', 'Nk Cells', 'Myeloid', 'B Cells', ..., 'Endothelial Cells', 'Fibroblasts', 'Mast Cells', 'Hepatocytes', 'Bi-Potent Cells']
Length: 11
Categories (11, object): ['B Cells', 'Bi-Potent Cells', 'CD4+ Cells', 'CD8+ Cells', ..., 'Mast Cells', 'Myeloid', 'Nk Cells', 'Tregs']

In [14]:
print(adata.var)

               gene_ids  n_cells      gene_name
index
RP11-34P13.7          0       59   RP11-34P13.7
FO538757.2            0     5074     FO538757.2
AP006222.2            0     1970     AP006222.2
RP4-669L17.10         0      220  RP4-669L17.10
RP11-206L10.9         0     1188  RP11-206L10.9
...                 ...      ...            ...
AC007325.4            0     1528     AC007325.4
AL354822.1            0      679     AL354822.1
AC004556.1            0       88     AC004556.1
AC233755.2            0       36     AC233755.2
AC240274.1            0      602     AC240274.1

[19852 rows x 3 columns]

In [15]:
adata.var.head()

               gene_ids  n_cells      gene_name
index
RP11-34P13.7          0       59   RP11-34P13.7
FO538757.2            0     5074     FO538757.2
AP006222.2            0     1970     AP006222.2
RP4-669L17.10         0      220  RP4-669L17.10
RP11-206L10.9         0     1188  RP11-206L10.9

In [16]:
adata.var['gene_name'] = adata.var.index
adata.var.head()

               gene_ids  n_cells      gene_name
index
RP11-34P13.7          0       59   RP11-34P13.7
FO538757.2            0     5074     FO538757.2
AP006222.2            0     1970     AP006222.2
RP4-669L17.10         0      220  RP4-669L17.10
RP11-206L10.9         0     1188  RP11-206L10.9

In [17]:
adata.var['gene_name'].unique()

array(['RP11-34P13.7', 'FO538757.2', 'AP006222.2', ..., 'AC004556.1',
       'AC233755.2', 'AC240274.1'], dtype=object)

In [18]:
len(adata.var['gene_name'].unique())

19852

In [19]:
adata.var.columns

Index(['gene_ids', 'n_cells', 'gene_name'], dtype='object')

In [20]:
print(adata.obsm)

AxisArrays with keys: X_pca, X_umap

In [21]:
print(adata.obsp)

PairwiseArrays with keys: connectivities, distances

In [22]:
print(adata.varm)

AxisArrays with keys:

In [23]:
print(adata.varp)

PairwiseArrays with keys: