In [1]:
import scanpy as sc

In [2]:
adata = sc.read_h5ad('HCC.h5ad')
print(adata)

c:\Users\Public\anaconda3\envs\scgpt\lib\site-packages\anndata\compat\__init__.py:229: FutureWarning: Moving element from .uns['neighbors']['distances'] to .obsp['distances'].

This is where adjacency matrices should go now.
  warn(
c:\Users\Public\anaconda3\envs\scgpt\lib\site-packages\anndata\compat\__init__.py:229: FutureWarning: Moving element from .uns['neighbors']['connectivities'] to .obsp['connectivities'].

This is where adjacency matrices should go now.
  warn(

AnnData object with n_obs × n_vars = 73589 × 2608
    obs: 'n_genes', 'percent_mito', 'n_counts', 'louvain', 'patient_id', 'patient_tumorsection', 'NormalvsTumor', 'patientno', 'PNC', 'PIC', 'ViralvsNonViral'
    var: 'gene_ids', 'n_cells'
    uns: 'NormalvsTumor_colors', 'PNC_colors', 'ViralvsNonViral_colors', 'louvain', 'louvain_colors', 'neighbors', 'patientno_colors', 'pca', 'rank_genes_groups'
    obsm: 'X_pca', 'X_umap'
    varm: 'PCs'
    obsp: 'distances', 'connectivities'

In [3]:
print(adata.X)

[[-0.16845347 -0.03564781 -0.0477442  ... -0.07182272 -0.13408013
  -0.05482318]
 [-0.16741325 -0.03563783 -0.04759853 ... -0.0691553  -0.13420835
  -0.05420499]
 [-0.19438893 -0.04504421 -0.05132338 ... -0.14197227 -0.15936998
  -0.07002947]
 ...
 [-0.15281229 -0.02069412 -0.04563918 ... -0.02581779 -0.08990724
  -0.04586226]
 [-0.16932128 -0.0246159  -0.04792935 ... -0.06965064 -0.09959187
  -0.05558822]
 [-0.1521068  -0.02064563 -0.04554063 ... -0.02399215 -0.08986428
  -0.04544396]]

In [4]:
len(adata.X)

73589

In [5]:
adata.raw

In [6]:
print(adata.raw)

Raw AnnData with n_obs × n_vars = 73589 × 19852
    var: 'gene_ids', 'n_cells'

In [7]:
adata = adata.raw.to_adata()
print(adata.X)

  (0, 19840)	1.0986123
  (0, 19837)	0.6931472
  (0, 19835)	1.0986123
  (0, 19834)	1.9459101
  (0, 19831)	0.6931472
  (0, 19830)	2.0794415
  (0, 19829)	1.3862944
  (0, 19828)	0.6931472
  (0, 19796)	0.6931472
  (0, 19771)	0.6931472
  (0, 19730)	0.6931472
  (0, 19712)	0.6931472
  (0, 19609)	0.6931472
  (0, 19505)	0.6931472
  (0, 19496)	0.6931472
  (0, 19455)	1.0986123
  (0, 19430)	0.6931472
  (0, 19425)	1.3862944
  (0, 19416)	0.6931472
  (0, 19384)	0.6931472
  (0, 19378)	1.0986123
  (0, 19292)	0.6931472
  (0, 19281)	1.0986123
  (0, 19207)	0.6931472
  (0, 19128)	0.6931472
  :	:
  (73588, 864)	0.6931472
  (73588, 845)	0.6931472
  (73588, 800)	0.6931472
  (73588, 721)	0.6931472
  (73588, 688)	0.6931472
  (73588, 665)	1.0986123
  (73588, 635)	0.6931472
  (73588, 620)	1.0986123
  (73588, 533)	0.6931472
  (73588, 500)	0.6931472
  (73588, 403)	0.6931472
  (73588, 392)	0.6931472
  (73588, 365)	0.6931472
  (73588, 359)	0.6931472
  (73588, 322)	0.6931472
  (73588, 318)	0.6931472
  (73588, 312)	1.3862944
  (73588, 291)	0.6931472
  (73588, 279)	0.6931472
  (73588, 269)	0.6931472
  (73588, 127)	0.6931472
  (73588, 103)	0.6931472
  (73588, 73)	0.6931472
  (73588, 38)	0.6931472
  (73588, 36)	0.6931472

In [8]:
adata.X.shape[0]

73589

In [9]:
print(adata.obs)

                     n_genes  percent_mito  n_counts louvain  patient_id  \
index
AAACCTGGTCGGGTCT-1       502      0.021596    1065.0       4           1
AAAGCAAGTTCGAATC-1       414      0.021692     922.0       0           1
AACCATGAGTAATCCC-1      1276      0.033444    3319.0       9           1
AACCGCGAGCTCCTCT-1       788      0.018448    1843.0       4           1
AACCGCGCACATGTGT-1       591      0.047297    1332.0       0           1
...                      ...           ...       ...     ...         ...
TTTGGTTTCCGCATCT-58     2200      0.032277    6940.0       7          58
TTTGGTTTCTTCAACT-58      429      0.004082     735.0       7          58
TTTGTCAAGGATGCGT-58      478      0.000000    1037.0       7          58
TTTGTCATCGAATGCT-58      896      0.004337    2767.0       7          58
TTTGTCATCTGTGCAA-58      508      0.000000     946.0       7          58

                    patient_tumorsection NormalvsTumor patientno PNC PIC  \
index
AAACCTGGTCGGGTCT-1                  P1_N             N        P1   N   N
AAAGCAAGTTCGAATC-1                  P1_N             N        P1   N   N
AACCATGAGTAATCCC-1                  P1_N             N        P1   N   N
AACCGCGAGCTCCTCT-1                  P1_N             N        P1   N   N
AACCGCGCACATGTGT-1                  P1_N             N        P1   N   N
...                                  ...           ...       ...  ..  ..
TTTGGTTTCCGCATCT-58             P15_T4T5             T       P15   P   P
TTTGGTTTCTTCAACT-58             P15_T4T5             T       P15   P   P
TTTGTCAAGGATGCGT-58             P15_T4T5             T       P15   P   P
TTTGTCATCGAATGCT-58             P15_T4T5             T       P15   P   P
TTTGTCATCTGTGCAA-58             P15_T4T5             T       P15   P   P

                    ViralvsNonViral
index
AAACCTGGTCGGGTCT-1         Positive
AAAGCAAGTTCGAATC-1         Positive
AACCATGAGTAATCCC-1         Positive
AACCGCGAGCTCCTCT-1         Positive
AACCGCGCACATGTGT-1         Positive
...                             ...
TTTGGTTTCCGCATCT-58        Negative
TTTGGTTTCTTCAACT-58        Negative
TTTGTCAAGGATGCGT-58        Negative
TTTGTCATCGAATGCT-58        Negative
TTTGTCATCTGTGCAA-58        Negative

[73589 rows x 11 columns]

In [10]:
adata.obs.head()

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral
index,,,,,,,,,,,
AAACCTGGTCGGGTCT-1,502,0.021596,1065.0,4,1,P1_N,N,P1,N,N,Positive
AAAGCAAGTTCGAATC-1,414,0.021692,922.0,0,1,P1_N,N,P1,N,N,Positive
AACCATGAGTAATCCC-1,1276,0.033444,3319.0,9,1,P1_N,N,P1,N,N,Positive
AACCGCGAGCTCCTCT-1,788,0.018448,1843.0,4,1,P1_N,N,P1,N,N,Positive
AACCGCGCACATGTGT-1,591,0.047297,1332.0,0,1,P1_N,N,P1,N,N,Positive

In [11]:
adata.obs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73589 entries, AAACCTGGTCGGGTCT-1 to TTTGTCATCTGTGCAA-58
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   n_genes               73589 non-null  int32
 1   percent_mito          73589 non-null  float32
 2   n_counts              73589 non-null  float32
 3   louvain               73589 non-null  category
 4   patient_id            73589 non-null  int64
 5   patient_tumorsection  73589 non-null  category
 6   NormalvsTumor         73589 non-null  category
 7   patientno             73589 non-null  category
 8   PNC                   73589 non-null  category
 9   PIC                   73589 non-null  category
 10  ViralvsNonViral       73589 non-null  category
dtypes: category(7), float32(2), int32(1), int64(1)
memory usage: 4.5+ MB

In [12]:
adata.obs['louvain'].unique()

['4', '0', '9', '1', '8', ..., '11', '23', '14', '16', '25']
Length: 29
Categories (29, object): ['0', '1', '2', '3', ..., '25', '26', '27', '28']

In [13]:
adata.obs.columns

Index(['n_genes', 'percent_mito', 'n_counts', 'louvain', 'patient_id',
       'patient_tumorsection', 'NormalvsTumor', 'patientno', 'PNC', 'PIC',
       'ViralvsNonViral'],
      dtype='object')

In [14]:
adata.obs.__len__()

73589

In [15]:
import pandas as pd

In [16]:
cell_type = pd.read_csv('HCC_Cell_Types.csv')
cell_type.head()

   louvain_merge          Cell Type Cell Type (Manual Annotation)
0              0         CD4+ Cells                  CD4+ Cells 1
1              1           Nk Cells                    Nk Cells 1
2              2  Endothelial Cells           Endothelial Cells 1
3              3         CD8+ Cells                  CD8+ Cells 1
4              4         CD8+ Cells                  CD8+ Cells 2

In [17]:
cell_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   louvain_merge                  29 non-null     int64
 1   Cell Type                      29 non-null     object
 2   Cell Type (Manual Annotation)  29 non-null     object
dtypes: int64(1), object(2)
memory usage: 824.0+ bytes

In [18]:
cell_type['Cell Type (Manual Annotation)'].nunique()

29

In [19]:
adata.obs['louvain_merge'] = adata.obs['louvain']
adata.obs.head()

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge
index,,,,,,,,,,,,
AAACCTGGTCGGGTCT-1,502,0.021596,1065.0,4,1,P1_N,N,P1,N,N,Positive,4
AAAGCAAGTTCGAATC-1,414,0.021692,922.0,0,1,P1_N,N,P1,N,N,Positive,0
AACCATGAGTAATCCC-1,1276,0.033444,3319.0,9,1,P1_N,N,P1,N,N,Positive,9
AACCGCGAGCTCCTCT-1,788,0.018448,1843.0,4,1,P1_N,N,P1,N,N,Positive,4
AACCGCGCACATGTGT-1,591,0.047297,1332.0,0,1,P1_N,N,P1,N,N,Positive,0

In [20]:
adata.obs['louvain_merge'] = adata.obs['louvain_merge'].astype(int)

In [21]:
adata.obs = pd.merge(adata.obs, cell_type, how='left', on='louvain_merge')
adata.obs.head()

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge,Cell Type,Cell Type (Manual Annotation)
0,502,0.021596,1065.0,4,1,P1_N,N,P1,N,N,Positive,4,CD8+ Cells,CD8+ Cells 2
1,414,0.021692,922.0,0,1,P1_N,N,P1,N,N,Positive,0,CD4+ Cells,CD4+ Cells 1
2,1276,0.033444,3319.0,9,1,P1_N,N,P1,N,N,Positive,9,Nk Cells,Nk Cells 2
3,788,0.018448,1843.0,4,1,P1_N,N,P1,N,N,Positive,4,CD8+ Cells,CD8+ Cells 2
4,591,0.047297,1332.0,0,1,P1_N,N,P1,N,N,Positive,0,CD4+ Cells,CD4+ Cells 1

In [22]:
adata.obs['Cell Type'].nunique()

11

In [23]:
print(adata.var)

               gene_ids  n_cells
index
RP11-34P13.7          0       59
FO538757.2            0     5074
AP006222.2            0     1970
RP4-669L17.10         0      220
RP11-206L10.9         0     1188
...                 ...      ...
AC007325.4            0     1528
AL354822.1            0      679
AC004556.1            0       88
AC233755.2            0       36
AC240274.1            0      602

[19852 rows x 2 columns]

In [24]:
adata.var.head()

               gene_ids  n_cells
index
RP11-34P13.7          0       59
FO538757.2            0     5074
AP006222.2            0     1970
RP4-669L17.10         0      220
RP11-206L10.9         0     1188

In [25]:
adata.var['gene_name'] = adata.var.index
adata.var.head()

               gene_ids  n_cells      gene_name
index
RP11-34P13.7          0       59   RP11-34P13.7
FO538757.2            0     5074     FO538757.2
AP006222.2            0     1970     AP006222.2
RP4-669L17.10         0      220  RP4-669L17.10
RP11-206L10.9         0     1188  RP11-206L10.9

In [26]:
adata.var.columns

Index(['gene_ids', 'n_cells', 'gene_name'], dtype='object')

In [27]:
print(adata.obsm)

AxisArrays with keys: X_pca, X_umap

In [28]:
print(adata.obsp)

PairwiseArrays with keys: distances, connectivities

In [30]:
print(adata.varm)

AxisArrays with keys:

In [31]:
print(adata.varp)

PairwiseArrays with keys:

In [32]:
sc.write('HCC_Updated(Manual_Annotation).h5ad', adata)