In [1]:
import pandas as pd
import scanpy as sc
import numpy as np

In [2]:
andata = sc.read_h5ad('HCC_Updated(Manual_Annotation).h5ad')
andata

c:\Users\Public\anaconda3\envs\scgpt\lib\site-packages\anndata\_core\anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 73589 × 19852
    obs: 'n_genes', 'percent_mito', 'n_counts', 'louvain', 'patient_id', 'patient_tumorsection', 'NormalvsTumor', 'patientno', 'PNC', 'PIC', 'ViralvsNonViral', 'louvain_merge', 'Cell Type', 'Cell Type (Manual Annotation)'
    var: 'gene_ids', 'n_cells', 'gene_name'
    uns: 'NormalvsTumor_colors', 'PNC_colors', 'ViralvsNonViral_colors', 'louvain', 'louvain_colors', 'neighbors', 'patientno_colors', 'pca', 'rank_genes_groups'
    obsm: 'X_pca', 'X_umap'
    obsp: 'connectivities', 'distances'

In [3]:
andata.obs.__len__()

73589

In [4]:
len(andata.var['gene_name'].unique())

19852

In [5]:
sc.pp.highly_variable_genes(andata, min_mean=0.0125, max_mean=3, min_disp=0.5)
andata = andata[:, andata.var.highly_variable]
len(andata.var['gene_name'].unique())

1907

*Random Split (80% Train, 20% Test)*

In [6]:
rng = np.random.RandomState(0)
from sklearn.model_selection import train_test_split

HCC_random_train, HCC_random_test = train_test_split( andata, test_size=0.20, random_state=rng )

In [7]:
print( "No of samples in training set: %s" % len(HCC_random_train) )
print( "No of samples in test set: %s" % len(HCC_random_test) )

No of samples in training set: 58871
No of samples in test set: 14718

In [8]:
HCC_random_train.obs['str_batch'] = 0
HCC_random_train.obs.head()

C:\Users\Vaishnavi Gaad\AppData\Local\Temp\ipykernel_37972\4061572555.py:1: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  HCC_random_train.obs['str_batch'] = 0

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge,Cell Type,Cell Type (Manual Annotation),str_batch
16548,505,0.022158,1038.0,0,16,P3_T5,T,P3,P,P,Negative,0,CD4+ Cells,CD4+ Cells 1,0
18705,364,0.017391,920.0,4,17,P4_N,N,P4,N,N,Positive,4,CD8+ Cells,CD8+ Cells 2,0
37697,748,0.000480,2085.0,14,28,P7_T1,T,P7,P,P,Positive,14,Hepatocytes,Hepatocytes 3,0
40241,548,0.018234,1042.0,1,29,P7_T2,T,P7,P,P,Positive,1,Nk Cells,Nk Cells 1,0
59847,351,0.040678,590.0,1,47,P13_N,N,P13,N,N,Negative,1,Nk Cells,Nk Cells 1,0

In [9]:
HCC_random_test.obs['str_batch'] = 1
HCC_random_test.obs.head()

C:\Users\Vaishnavi Gaad\AppData\Local\Temp\ipykernel_37972\796004646.py:1: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  HCC_random_test.obs['str_batch'] = 1

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge,Cell Type,Cell Type (Manual Annotation),str_batch
72055,671,0.021120,2036.0,8,58,P15_T4T5,T,P15,P,P,Negative,8,Myeloid,Myeloid 1,1
58920,555,0.019349,1137.0,2,47,P13_N,N,P13,N,N,Negative,2,Endothelial Cells,Endothelial Cells 1,1
35506,658,0.019710,1725.0,5,26,P6_T2,T,P6,P,P,Negative,5,CD4+ Cells,CD4+ Cells 2,1
16987,507,0.017062,1055.0,4,16,P3_T5,T,P3,P,P,Negative,4,CD8+ Cells,CD8+ Cells 2,1
18229,881,0.027952,2075.0,12,17,P4_N,N,P4,N,N,Positive,12,Tregs,Tregs,1

In [10]:
HCC_random_test.X

<14718x1907 sparse matrix of type '<class 'numpy.float32'>'
	with 1871081 stored elements in Compressed Sparse Row format>

In [11]:
print(HCC_random_test.X)

  (0, 1905)	2.0794415
  (0, 1904)	1.3862944
  (0, 1903)	1.609438
  (0, 1885)	0.6931472
  (0, 1878)	0.6931472
  (0, 1870)	0.6931472
  (0, 1866)	0.6931472
  (0, 1854)	0.6931472
  (0, 1829)	0.6931472
  (0, 1828)	0.6931472
  (0, 1823)	0.6931472
  (0, 1820)	0.6931472
  (0, 1814)	0.6931472
  (0, 1813)	0.6931472
  (0, 1801)	1.0986123
  (0, 1777)	2.1972246
  (0, 1771)	0.6931472
  (0, 1768)	0.6931472
  (0, 1764)	1.0986123
  (0, 1744)	1.0986123
  (0, 1736)	0.6931472
  (0, 1735)	0.6931472
  (0, 1723)	0.6931472
  (0, 1716)	0.6931472
  (0, 1707)	0.6931472
  :	:
  (14717, 385)	1.0986123
  (14717, 368)	0.6931472
  (14717, 356)	1.0986123
  (14717, 348)	0.6931472
  (14717, 326)	0.6931472
  (14717, 317)	0.6931472
  (14717, 315)	1.0986123
  (14717, 312)	1.0986123
  (14717, 302)	0.6931472
  (14717, 290)	0.6931472
  (14717, 287)	0.6931472
  (14717, 257)	1.0986123
  (14717, 232)	0.6931472
  (14717, 228)	0.6931472
  (14717, 177)	0.6931472
  (14717, 163)	0.6931472
  (14717, 129)	0.6931472
  (14717, 127)	0.6931472
  (14717, 122)	1.3862944
  (14717, 93)	0.6931472
  (14717, 82)	0.6931472
  (14717, 66)	0.6931472
  (14717, 45)	0.6931472
  (14717, 41)	0.6931472
  (14717, 26)	0.6931472

In [11]:
# import scipy.sparse as sp
# HCC_random_train.X = sp.csr_matrix(HCC_random_train.X)
# print(HCC_random_train.X)

In [12]:
HCC_random_train.X.min()

0.0

In [12]:
# HCC_random_test.X = sp.csr_matrix(HCC_random_test.X)
# print(HCC_random_test.X)

In [13]:
HCC_random_test.X.min()

0.0

In [14]:
len(HCC_random_train.var['gene_name'].unique())

1907

In [15]:
len(HCC_random_test.var['gene_name'].unique())

1907

In [16]:
sc.write('HCC_random_train(Manual_Annotation).h5ad', HCC_random_train)

In [17]:
sc.write('HCC_random_test(Manual_Annotation).h5ad', HCC_random_test)

*SMOTE - One Hot Encoding*

In [16]:
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import OneHotEncoder

In [17]:
# Separate features (X) and labels (y)
X = HCC_random_train.X  # Features
y = HCC_random_train.obs['Cell Type (Manual Annotation)']  # Labels

In [18]:
# Initialize OneHotEncoder
onehot_encoder = OneHotEncoder(sparse=False)

# Encode categorical labels using OneHotEncoder
y_encoded = onehot_encoder.fit_transform(y.values.reshape(-1, 1))  # Reshape y to a column vect

c:\Users\Public\anaconda3\envs\scgpt\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [19]:
# Initialize SMOTE
smote = SMOTE(random_state=rng)

# Resample the data
X_resampled, y_resampled = smote.fit_resample(X, y_encoded)  # Use encoded labels

In [20]:
y_resampled

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [21]:
y_resampled.shape

(233015, 29)

In [22]:
# Inverse transform one-hot encoded labels to get original labels
y_resampled_original = onehot_encoder.inverse_transform(y_resampled)

In [23]:
y_resampled_original

array([['CD4+ Cells 1'],
       ['CD8+ Cells 2'],
       ['Hepatocytes 3'],
       ...,
       ['Tregs'],
       ['Tregs'],
       ['Tregs']], dtype=object)

In [24]:
y_resampled_original.shape

(233015, 1)

In [25]:
# Flatten y_resampled_original to make it 1-dimensional
y_resampled_original_flat = np.ravel(y_resampled_original)

y_resampled_original_flat.shape

(233015,)

In [26]:
# Create a new AnnData object with resampled data
resampled_adata = sc.AnnData(X_resampled, obs={'Cell Type (Manual Annotation)': y_resampled_original_flat})

resampled_adata.obs.head()

  Cell Type (Manual Annotation)
0                  CD4+ Cells 1
1                  CD8+ Cells 2
2                 Hepatocytes 3
3                    Nk Cells 1
4                    Nk Cells 1

In [27]:
resampled_adata.obs['str_batch'] = 0
resampled_adata.obs.head()

  Cell Type (Manual Annotation)  str_batch
0                  CD4+ Cells 1          0
1                  CD8+ Cells 2          0
2                 Hepatocytes 3          0
3                    Nk Cells 1          0
4                    Nk Cells 1          0

In [72]:
# Extract the text part from the existing column using regular expressions
# resampled_adata.obs['Cell Type'] = resampled_adata.obs['Cell Type (Manual Annotation)'].str.rpartition(' ',expand=False).str[0]
resampled_adata.obs['Cell Type'] = resampled_adata.obs['Cell Type (Manual Annotation)'].apply(lambda x: x.rpartition(' ')[0] if any(char.isdigit() for char in x) else x)
resampled_adata.obs.head()

  Cell Type (Manual Annotation)  str_batch    Cell Type
0                  CD4+ Cells 1          0   CD4+ Cells
1                  CD8+ Cells 2          0   CD8+ Cells
2                 Hepatocytes 3          0  Hepatocytes
3                    Nk Cells 1          0     Nk Cells
4                    Nk Cells 1          0     Nk Cells

In [73]:
resampled_adata.obs['Cell Type'].unique()

array(['CD4+ Cells', 'CD8+ Cells', 'Hepatocytes', 'Nk Cells', 'Tregs',
       'Endothelial Cells', 'Fibroblasts', 'Myeloid', 'Bi-Potent Cells',
       'B Cells', 'Mast Cells'], dtype=object)

In [74]:
resampled_adata.X

<233015x1907 sparse matrix of type '<class 'numpy.float32'>'
	with 47682428 stored elements in Compressed Sparse Row format>

In [75]:
resampled_adata.var

,gene_ids,n_cells,gene_name,highly_variable,means,dispersions,dispersions_norm
index,,,,,,,
TNFRSF18,0,3919,TNFRSF18,True,0.059571,0.974046,1.668143
TNFRSF4,0,7262,TNFRSF4,True,0.129138,1.673035,3.265401
AURKAIP1,0,23768,AURKAIP1,True,0.233932,0.621050,0.861512
VWA1,0,3179,VWA1,True,0.023489,0.896191,1.490236
RER1,0,16570,RER1,True,0.156770,0.570216,0.745351
...,...,...,...,...,...,...,...
S100B,0,1868,S100B,True,0.051653,2.663278,5.528205
MT-CO1,0,104281,MT-CO1,True,2.515163,3.559864,1.543638
MT-CO2,0,100229,MT-CO2,True,2.055961,3.858118,3.586790
MT-CO3,0,98770,MT-CO3,True,1.972075,3.019758,1.259902
MT-ND4L,0,29929,MT-ND4L,True,0.182856,0.625154,0.870891

In [76]:
resampled_adata.var = andata.var
resampled_adata.var

,gene_ids,n_cells,gene_name,highly_variable,means,dispersions,dispersions_norm
index,,,,,,,
TNFRSF18,0,3919,TNFRSF18,True,0.059571,0.974046,1.668143
TNFRSF4,0,7262,TNFRSF4,True,0.129138,1.673035,3.265401
AURKAIP1,0,23768,AURKAIP1,True,0.233932,0.621050,0.861512
VWA1,0,3179,VWA1,True,0.023489,0.896191,1.490236
RER1,0,16570,RER1,True,0.156770,0.570216,0.745351
...,...,...,...,...,...,...,...
S100B,0,1868,S100B,True,0.051653,2.663278,5.528205
MT-CO1,0,104281,MT-CO1,True,2.515163,3.559864,1.543638
MT-CO2,0,100229,MT-CO2,True,2.055961,3.858118,3.586790
MT-CO3,0,98770,MT-CO3,True,1.972075,3.019758,1.259902
MT-ND4L,0,29929,MT-ND4L,True,0.182856,0.625154,0.870891

In [77]:
resampled_adata

AnnData object with n_obs × n_vars = 233015 × 1907
    obs: 'Cell Type (Manual Annotation)', 'str_batch', 'Cell Type'
    var: 'gene_ids', 'n_cells', 'gene_name', 'highly_variable', 'means', 'dispersions', 'dispersions_norm'

In [78]:
# Save the resampled data to a new .h5ad file
resampled_adata.write_h5ad('HCC_random_train(Manual_Annotation)_SMOTE.h5ad')

*NormalvsTumor*

In [18]:
andata.obs['NormalvsTumor'].unique()

['N', 'T']
Categories (2, object): ['N', 'T']

In [19]:
HCC_normal = andata[andata.obs['NormalvsTumor'] == 'N']
HCC_normal.obs.__len__()

16335

In [20]:
HCC_tumor = andata[andata.obs['NormalvsTumor'] == 'T']
HCC_tumor.obs.__len__()

57254

In [21]:
HCC_normal.obs['str_batch'] = 0
HCC_normal.obs.head()

C:\Users\Vaishnavi Gaad\AppData\Local\Temp\ipykernel_3956\1407332947.py:1: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  HCC_normal.obs['str_batch'] = 0

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge,Cell Type,Cell Type (Manual Annotation),str_batch
0,502,0.021596,1065.0,4,1,P1_N,N,P1,N,N,Positive,4,CD8+ Cells,CD8+ Cells 2,0
1,414,0.021692,922.0,0,1,P1_N,N,P1,N,N,Positive,0,CD4+ Cells,CD4+ Cells 1,0
2,1276,0.033444,3319.0,9,1,P1_N,N,P1,N,N,Positive,9,Nk Cells,Nk Cells 2,0
3,788,0.018448,1843.0,4,1,P1_N,N,P1,N,N,Positive,4,CD8+ Cells,CD8+ Cells 2,0
4,591,0.047297,1332.0,0,1,P1_N,N,P1,N,N,Positive,0,CD4+ Cells,CD4+ Cells 1,0

In [22]:
HCC_tumor.obs['str_batch'] = 1
HCC_tumor.obs.head()

C:\Users\Vaishnavi Gaad\AppData\Local\Temp\ipykernel_3956\1333703366.py:1: ImplicitModificationWarning: Trying to modify attribute `.obs` of view, initializing view as actual.
  HCC_tumor.obs['str_batch'] = 1

,n_genes,percent_mito,n_counts,louvain,patient_id,patient_tumorsection,NormalvsTumor,patientno,PNC,PIC,ViralvsNonViral,louvain_merge,Cell Type,Cell Type (Manual Annotation),str_batch
401,767,0.034323,2156.0,0,2,P1_T1,T,P1,P,P,Positive,0,CD4+ Cells,CD4+ Cells 1,1
402,631,0.008280,1570.0,0,2,P1_T1,T,P1,P,P,Positive,0,CD4+ Cells,CD4+ Cells 1,1
403,495,0.001779,1124.0,10,2,P1_T1,T,P1,P,P,Positive,10,Myeloid,Myeloid 2,1
404,967,0.017167,2563.0,8,2,P1_T1,T,P1,P,P,Positive,8,Myeloid,Myeloid 1,1
405,338,0.000000,810.0,8,2,P1_T1,T,P1,P,P,Positive,8,Myeloid,Myeloid 1,1

In [23]:
HCC_normal.var['gene_name'].unique()

array(['TNFRSF18', 'TNFRSF4', 'AURKAIP1', ..., 'MT-CO2', 'MT-CO3',
       'MT-ND4L'], dtype=object)

In [24]:
len(HCC_normal.var['gene_name'].unique())

1907

In [25]:
HCC_tumor.var['gene_name'].unique()

array(['TNFRSF18', 'TNFRSF4', 'AURKAIP1', ..., 'MT-CO2', 'MT-CO3',
       'MT-ND4L'], dtype=object)

In [26]:
len(HCC_tumor.var['gene_name'].unique())

1907

In [27]:
sc.write('HCC_normal(Manual_Annotation).h5ad', HCC_normal)

In [28]:
sc.write('HCC_tumor(Manual_Annotation).h5ad', HCC_tumor)

*5% Data Sampling*

In [4]:
# Set a seed value for reproducibility
np.random.seed(0)

# Get the number of samples to select (5% of the total)
num_samples = int(0.05 * andata.n_obs)

# Randomly select 5% of the indices
sampled_indices = np.random.choice(andata.n_obs, size=num_samples, replace=False)

# Create a new AnnData object containing only the sampled data
HCC_sampled = andata[sampled_indices, :]

In [5]:
rng = np.random.RandomState(0)
from sklearn.model_selection import train_test_split

HCC_sampled_train_5, HCC_sampled_test_5 = train_test_split(HCC_sampled, test_size=0.20, random_state=rng )

In [ ]:
HCC_sampled_train_5.obs['str_batch'] = 0
HCC_sampled_train_5.obs.head()

In [ ]:
HCC_sampled_test_5.obs['str_batch'] = 1
HCC_sampled_test_5.obs.head()

In [6]:
print( "No of samples in training set: %s" % len(HCC_sampled_train_5) )
print( "No of samples in test set: %s" % len(HCC_sampled_test_5) )

No of samples in training set: 2943
No of samples in test set: 736

In [7]:
# Save the new AnnData object to a .h5ad file
sc.write('HCC_sampled_train_5.h5ad', HCC_sampled_train_5)

In [8]:
sc.write('HCC_sampled_test_5.h5ad', HCC_sampled_test_5)