In [1]:
import scanpy as sc
import pandas as pd

In [21]:
adata = sc.read_10x_mtx(
    "C:/Users/Vaishnavi Gaad/Desktop/MS/Sem 2/Capstone Project/Testing/rawData_human/rawData_human/countTable_human",  # the directory with the `.mtx` file
    var_names="gene_symbols",  # use gene symbols for the variable names (variables-axis index)
    cache=True,  # write a cache file for faster subsequent reading
)

In [3]:
adata

AnnData object with n_obs × n_vars = 272867 × 32738
    var: 'gene_ids', 'feature_types'

In [4]:
adata.obs

Empty DataFrame
Columns: []
Index: [AAACCTGAGAGAGCTC-1, AAACCTGAGCCGGTAA-1, AAACCTGAGCGATTCT-1, AAACCTGAGCTAACTC-1, AAACCTGAGCTTTGGT-1, AAACCTGAGGATGGAA-1, AAACCTGAGTGTACCT-1, AAACCTGAGTTAACGA-1, AAACCTGCAAGTTCTG-1, AAACCTGCACGGTTTA-1, AAACCTGCAGGACGTA-1, AAACCTGCATAGAAAC-1, AAACCTGGTAAGCACG-1, AAACCTGGTATTAGCC-1, AAACCTGGTCGGCATC-1, AAACCTGGTCTCGTTC-1, AAACCTGGTTTGTTGG-1, AAACCTGTCAGGATCT-1, AAACCTGTCCAGGGCT-1, AAACCTGTCTCCAGGG-1, AAACCTGTCTCGCATC-1, AAACGGGAGACCTAGG-1, AAACGGGAGACTAGGC-1, AAACGGGAGCACAGGT-1, AAACGGGAGTCCCACG-1, AAACGGGAGTGTGGCA-1, AAACGGGAGTTAGGTA-1, AAACGGGCAATCTACG-1, AAACGGGCACCAGATT-1, AAACGGGCACGACGAA-1, AAACGGGCAGCCTATA-1, AAACGGGCAGCGAACA-1, AAACGGGCATTAACCG-1, AAACGGGGTAAACGCG-1, AAACGGGGTAGCGTGA-1, AAACGGGGTAGGGACT-1, AAACGGGGTGACTACT-1, AAACGGGGTGCACTTA-1, AAACGGGGTGCGGTAA-1, AAACGGGTCAGAGACG-1, AAACGGGTCAGTACGT-1, AAACGGGTCATTGCCC-1, AAACGGGTCCGCAAGC-1, AAACGGGTCCTCGCAT-1, AAACGGGTCGCCTGAG-1, AAAGATGAGAGCTGGT-1, AAAGATGAGGAATCGC-1, AAAGATGAGGACCACA-1, AAAGATGAGGACTGGT-1, AAAGATGAGGATGGTC-1, AAAGATGAGGGCTTCC-1, AAAGATGAGGGTCGAT-1, AAAGATGAGTCATGCT-1, AAAGATGAGTTAGGTA-1, AAAGATGCAAAGGAAG-1, AAAGATGCAAGACGTG-1, AAAGATGCAATAGAGT-1, AAAGATGCACTACAGT-1, AAAGATGCAGCCTGTG-1, AAAGATGCATTGGCGC-1, AAAGATGGTATCACCA-1, AAAGATGGTCCGTTAA-1, AAAGATGGTGTGAAAT-1, AAAGATGTCACATGCA-1, AAAGATGTCCCAACGG-1, AAAGATGTCGGATGTT-1, AAAGATGTCTCCTATA-1, AAAGCAAAGCACACAG-1, AAAGCAAAGGAACTGC-1, AAAGCAAAGGCAAAGA-1, AAAGCAAAGTGGAGTC-1, AAAGCAACACACGCTG-1, AAAGCAACACGGCCAT-1, AAAGCAACAGAGTGTG-1, AAAGCAACATCCTAGA-1, AAAGCAACATGCTGGC-1, AAAGCAACATTGGTAC-1, AAAGCAACATTTGCCC-1, AAAGCAAGTACCGAGA-1, AAAGCAAGTCTCATCC-1, AAAGCAAGTTACTGAC-1, AAAGCAAGTTCAGTAC-1, AAAGCAAGTTCATGGT-1, AAAGCAATCACTCCTG-1, AAAGCAATCCAACCAA-1, AAAGCAATCCTCAACC-1, AAAGCAATCCTCCTAG-1, AAAGCAATCGAATGGG-1, AAAGCAATCGGAAACG-1, AAAGCAATCTAACTCT-1, AAAGCAATCTAGCACA-1, AAAGCAATCTCTAGGA-1, AAAGCAATCTTTACAC-1, AAAGTAGAGCACCGCT-1, AAAGTAGAGCCGGTAA-1, AAAGTAGAGGTTACCT-1, AAAGTAGAGTACGCGA-1, AAAGTAGAGTAGCCGA-1, AAAGTAGCAACACGCC-1, AAAGTAGCAAGACGTG-1, ...]

[272867 rows x 0 columns]

In [20]:
len(adata.obs)

272867

In [5]:
adata.var

                  gene_ids    feature_types
MIR1302-10      MIR1302-10  Gene Expression
FAM138A            FAM138A  Gene Expression
OR4F5                OR4F5  Gene Expression
RP11-34P13.7  RP11-34P13.7  Gene Expression
RP11-34P13.8  RP11-34P13.8  Gene Expression
...                    ...              ...
AC145205.1      AC145205.1  Gene Expression
BAGE5                BAGE5  Gene Expression
CU459201.1      CU459201.1  Gene Expression
AC002321.2      AC002321.2  Gene Expression
AC002321.1      AC002321.1  Gene Expression

[32738 rows x 2 columns]

In [6]:
adata.var_names_make_unique()

In [7]:
adata.X

<272867x32738 sparse matrix of type '<class 'numpy.float32'>'
	with 351710660 stored elements in Compressed Sparse Row format>

In [8]:
print(adata.X)

  (0, 67)	1.0
  (0, 89)	1.0
  (0, 121)	1.0
  (0, 166)	4.0
  (0, 189)	1.0
  (0, 229)	1.0
  (0, 231)	2.0
  (0, 248)	1.0
  (0, 249)	1.0
  (0, 326)	1.0
  (0, 412)	1.0
  (0, 464)	1.0
  (0, 492)	6.0
  (0, 549)	1.0
  (0, 556)	4.0
  (0, 592)	1.0
  (0, 610)	2.0
  (0, 617)	1.0
  (0, 688)	1.0
  (0, 742)	1.0
  (0, 761)	1.0
  (0, 764)	1.0
  (0, 799)	1.0
  (0, 819)	1.0
  (0, 859)	1.0
  :	:
  (272866, 32144)	1.0
  (272866, 32160)	1.0
  (272866, 32165)	3.0
  (272866, 32203)	1.0
  (272866, 32207)	1.0
  (272866, 32322)	1.0
  (272866, 32324)	2.0
  (272866, 32402)	1.0
  (272866, 32404)	2.0
  (272866, 32412)	5.0
  (272866, 32417)	2.0
  (272866, 32419)	1.0
  (272866, 32482)	1.0
  (272866, 32507)	4.0
  (272866, 32523)	2.0
  (272866, 32679)	3.0
  (272866, 32693)	1.0
  (272866, 32697)	3.0
  (272866, 32698)	4.0
  (272866, 32699)	1.0
  (272866, 32702)	3.0
  (272866, 32705)	1.0
  (272866, 32708)	1.0
  (272866, 32717)	1.0
  (272866, 32726)	1.0

In [9]:
sc.pp.normalize_total(adata, target_sum=1e4)

In [10]:
print(adata.X)

  (0, 67)	5.6980057
  (0, 89)	5.6980057
  (0, 121)	5.6980057
  (0, 166)	22.792023
  (0, 189)	5.6980057
  (0, 229)	5.6980057
  (0, 231)	11.396011
  (0, 248)	5.6980057
  (0, 249)	5.6980057
  (0, 326)	5.6980057
  (0, 412)	5.6980057
  (0, 464)	5.6980057
  (0, 492)	34.188034
  (0, 549)	5.6980057
  (0, 556)	22.792023
  (0, 592)	5.6980057
  (0, 610)	11.396011
  (0, 617)	5.6980057
  (0, 688)	5.6980057
  (0, 742)	5.6980057
  (0, 761)	5.6980057
  (0, 764)	5.6980057
  (0, 799)	5.6980057
  (0, 819)	5.6980057
  (0, 859)	5.6980057
  :	:
  (272866, 32144)	4.96771
  (272866, 32160)	4.96771
  (272866, 32165)	14.90313
  (272866, 32203)	4.96771
  (272866, 32207)	4.96771
  (272866, 32322)	4.96771
  (272866, 32324)	9.93542
  (272866, 32402)	4.96771
  (272866, 32404)	9.93542
  (272866, 32412)	24.83855
  (272866, 32417)	9.93542
  (272866, 32419)	4.96771
  (272866, 32482)	4.96771
  (272866, 32507)	19.87084
  (272866, 32523)	9.93542
  (272866, 32679)	14.90313
  (272866, 32693)	4.96771
  (272866, 32697)	14.90313
  (272866, 32698)	19.87084
  (272866, 32699)	4.96771
  (272866, 32702)	14.90313
  (272866, 32705)	4.96771
  (272866, 32708)	4.96771
  (272866, 32717)	4.96771
  (272866, 32726)	4.96771

In [17]:
adata.X.min()

0.0

In [23]:
metadata = pd.read_csv("C:/Users/Vaishnavi Gaad/Desktop/MS/Sem 2/Capstone Project/Testing/annot_humanAll.csv")

In [28]:
barcodes = metadata['cell']

In [29]:
abc=adata[barcodes].copy()
abc

AnnData object with n_obs × n_vars = 167598 × 32738
    var: 'gene_ids', 'feature_types'

In [43]:


metadata_new = pd.read_csv("C:/Users/Vaishnavi Gaad/Desktop/MS/Sem 2/Capstone Project/Testing/annot_humanAll.csv", index_col="cell")
metadata_new

,UMAP_1,UMAP_2,cluster,annot,sample,patient,digest,typeSample,diet
cell,,,,,,,,,
AAACCTGTCAGGATCT-1,0.738062,-3.097089,34,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGAGCACAGGT-1,0.367818,-3.251462,34,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGAGTGTGGCA-1,-0.728939,-5.994781,14,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGAGTTAGGTA-1,2.814624,-7.131484,7,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGCACCAGATT-1,3.420414,-6.966918,7,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
...,...,...,...,...,...,...,...,...,...
TTTACCAAGAGAGGTA-41,-3.674058,7.171934,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTACCAGTATCGAAA-41,-4.356690,7.339135,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTCCTCGTGAGGCAT-41,-3.759264,7.485170,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTCGATTCGATAACC-41,-4.757702,6.576497,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTGGAGTCCACTGGG-41,-4.283028,7.481643,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean

In [45]:
abc.obs = metadata_new

In [46]:
abc.obs

,UMAP_1,UMAP_2,cluster,annot,sample,patient,digest,typeSample,diet
cell,,,,,,,,,
AAACCTGTCAGGATCT-1,0.738062,-3.097089,34,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGAGCACAGGT-1,0.367818,-3.251462,34,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGAGTGTGGCA-1,-0.728939,-5.994781,14,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGAGTTAGGTA-1,2.814624,-7.131484,7,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
AAACGGGCACCAGATT-1,3.420414,-6.966918,7,Mono+mono derived cells,CISE06,H02,exVivo,citeSeq,Lean
...,...,...,...,...,...,...,...,...,...
TTTACCAAGAGAGGTA-41,-3.674058,7.171934,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTACCAGTATCGAAA-41,-4.356690,7.339135,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTCCTCGTGAGGCAT-41,-3.759264,7.485170,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTCGATTCGATAACC-41,-4.757702,6.576497,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean
TTTGGAGTCCACTGGG-41,-4.283028,7.481643,41,Fibroblasts,CS171,H38,exVivo,scRnaSeq,Lean

In [50]:
abc.write("Liver_Cell_Atlas.h5ad")